apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-python
  labels:
    app: worker-python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-python
  template:
    metadata:
      labels:
        app: worker-python
    spec:
      containers:
        - name: worker-python
          image: worker-python:local
          imagePullPolicy: IfNotPresent
          env:
            - name: ENV
              value: "dev"
            - name: METRICS_PORT
              value: "9000"
            - name: JOB_INTERVAL_SECONDS
              value: "10"
          ports:
            - containerPort: 9000
              name: metrics
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
