replicaCount: 1

image:
  repository: ghcr.io/zainasr/core-go
  tag: ad582b8
  pullPolicy: IfNotPresent

service:
  port: 8080

env:
  ENV: dev
  PORT: "8080"

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 128Mi

securityContext:
  runAsUser: 65532
  runAsGroup: 65532
