replicaCount: 1

image:
  repository: ghcr.io/zainasr/core-go
  tag: 8276d63
  pullPolicy: Always
  imagePullSecret: "ghcr-cred"

service:
  port: 8080

env:
  ENV: dev
  PORT: "8080"

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 128Mi

securityContext:
  runAsUser: 65532
  runAsGroup: 65532
