replicaCount: 1

image:
  repository: ghcr.io/zainasr/worker-python
  tag: 8276d63
  pullPolicy: Always
  imagePullSecret: "ghcr-cred"

env:
  ENV: dev
  METRICS_PORT: "9000"
  JOB_INTERVAL_SECONDS: "10"

service:
  port: 9000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

securityContext:
  runAsUser: 65532
  runAsGroup: 65532
