replicaCount: 1

image:
  repository: worker-python
  tag: local
  pullPolicy: IfNotPresent

env:
  ENV: dev
  METRICS_PORT: "9000"
  JOB_INTERVAL_SECONDS: "10"

service:
  port: 9000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

securityContext:
  runAsUser: 65532
  runAsGroup: 65532
